<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sensibility_testbed">

    <!-- Note: android:versionCode and android:versionName are pulled in from build.gradle! -->

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.sensibility_testbed.SensibilityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
            <intent-filter>
                <action android:name="com.googlecode.android_scripting.action.ACTION_LAUNCH_FOR_RESULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
        </activity>

        <!-- <service android:name="com.sensibility_testbed.ScriptService" />
        <service android:name="com.sensibility_testbed.InstallerService" /> -->
        <service
            android:name="com.snakei.PythonInterpreterService0"
            android:enabled="true"
            android:exported="false"
            android:process=":proc0"></service>
        <service
            android:name="com.snakei.PythonInterpreterService1"
            android:enabled="true"
            android:exported="false"
            android:process=":proc1"></service>

        <service
            android:name="com.snakei.PythonInterpreterService2"
            android:enabled="true"
            android:exported="false"
            android:process=":proc2"></service>
        <service
            android:name="com.snakei.PythonInterpreterService3"
            android:enabled="true"
            android:exported="false"
            android:process=":proc3"></service>

        <service
            android:name="com.snakei.PythonInterpreterService4"
            android:enabled="true"
            android:exported="false"
            android:process=":proc4"></service>
        <service
            android:name="com.snakei.PythonInterpreterService5"
            android:enabled="true"
            android:exported="false"
            android:process=":proc5"></service>

        <service
            android:name="com.snakei.PythonInterpreterService6"
            android:enabled="true"
            android:exported="false"
            android:process=":proc6"></service>
        <service
            android:name="com.snakei.PythonInterpreterService7"
            android:enabled="true"
            android:exported="false"
            android:process=":proc7"></service>

        <service
            android:name="com.snakei.PythonInterpreterService8"
            android:enabled="true"
            android:exported="false"
            android:process=":proc8"></service>
        <service
            android:name="com.snakei.PythonInterpreterService9"
            android:enabled="true"
            android:exported="false"
            android:process=":proc9"></service>
        <!--
        <activity
            android:name="com.googlecode.android_scripting.activity.FutureActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent" />

        <receiver android:name="com.sensibility_testbed.AutostartListener" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.sensibility_testbed.ReferralReceiver"
            android:exported="true" >
	      
            <intent-filter>
	        
                <action android:name="com.android.vending.INSTALL_REFERRER" />
	      
            </intent-filter>
        </receiver>
        -->
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <!--Includes permissions for network and gps location provider-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>
